.fivepage{
    background: #1e3250;
}
.bottomlink{
    /* margin-top: 3rem; */
    font-family: "Josefin Sans", sans-serif;
    color: white;
    border-bottom: 1px solid white;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.universitylink{
    position: relative;
    top: 2rem;
    
}
.universitylink p {
    font-size: 2.5rem;
    
}
.universitylink a{
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    line-height: 2em;
    position: relative;
    top: 1.5rem;
    color: white;
    display: grid;
    text-align: left;
}
.universitylink a:hover{
    text-decoration: underline;
}
.downloadlink{
    position: relative;
    top: 2rem;
}
.downloadlink p {
    font-size: 2.5rem;
    
}
.downloadlink a{
    position: relative;
    top: 1.5rem;
    line-height: 2em;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    color: white;
    display: grid;
    text-align: left;
}
.downloadlink a:hover{
    text-decoration: underline;
}
.addresslink{
    position: relative;
    top: 2rem;
}
.addresslink p1{
    font-size: 2.5rem;
    
}
.addresslink p{
    font-size: 1.5rem;
    line-height: 2em;
    position: relative;
    top: 1.5rem;
}
.addresslink a{
    /* font-family: "Josefin Sans", sans-serif; */
    color: white;
    display: grid;
    text-align: left;
}
.addresslink h1{
    line-height: 2em;
}
.addresslink h2{
    margin-top: 1.2rem;
}
.contactlink{
    font-size: 1.5rem;
    line-height: 2em;
    margin-top: 2rem;
}
.medialink{
    
    font-size: 4rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.copyright{
    height: 30px;
    margin-top: 0.5rem;
}
.copyright p{
    font-size: small;
    font-weight: bold;
    color: white;
    text-align: center;
}
@media screen and (max-width: 550px) {

    .bottomlink{
        display: grid;
        gap: 20px;
    }
   
  }

  /* contactus page */

.contactpage{
    background-image: linear-gradient(rgba(255,255,255,1.5),
                                     rgba(255,255,255,0.5)),
                                        url(caraousel1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
}
.map iframe{
    width: 500px;
    height: 350px;
}
  .contactus{
    display: flex;
    margin: auto;
    width: 90%;
  }
  .contactpage p{
    font-size: 4rem;
    justify-content: center;
    display: flex;
    font-weight: 800;
    font-family: fangsong;
  }
  .contactdetail{
    color: white;
   margin: auto;
   gap: 40px;
    display: grid;
    align-items: center;
  }
  .phone-number{
    padding: 10px;
    justify-content: space-around;
    display: flex;
   background-color: #1e3250;   
  }
  .phone-number i{
    font-size: 40px;
  }
  .email-id{
    padding: 30px;
    justify-content: space-around;
    display: flex;
    background-color: #1e3250;   
    background-size: cover;
  }
  .email-id i{
    font-size: 40px;
  }
  @media screen and (max-width: 1230px) {

    .contactus{
        display: grid;
    }
    .map{
        margin: auto;
    }
}
    @media screen and (max-width: 750px) {

    .map iframe{
        width: 300px;
        height: 250px;
    }
    
  }
  @media screen and (max-width: 550px) {

    .phone-number{
       width: 30rem;
    }
    .email-id{
       width: 30rem;
    }
    .phone-number i{
        font-size: 20px;
      }
    .email-id i{
        font-size: 20px;
      }
  }


/* facilities */
.facilities-card{
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}
.facilities p{
    background-image: url('paintstroke.png');
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size:350px;
  margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 4rem;
    font-weight: 800;
    color:black;
    text-align: center;
}
.image-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-card img{
    width: 250px;
    height: 180px;
    border-radius: 10px;
}
.image-card h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    width: fit-content;
    font-weight: 600;
}


/* notice board */
.notice-board h3{
    background-image: url('paintstroke.png');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size:350px;
    text-align: center;
    margin-top: 3rem;
      margin-bottom: 3rem;
      font-size: 4rem;
      font-weight: 800;
      font-family: fangsong;
      color:black;
}

.notice-description{
    margin: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: black;
    border-bottom: 1px solid black;
}
.notice-description a{
    border: 2px solid black;
    background-color: black;
    color: white;
}
.notice-description a:hover{
    color: blue;
}
